<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict> 
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This is required to detect your position in front of a gate and guarantees a correct gate release.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Let me use your Bluetooth! This is required to pass your ticket to the gate.</string>
    <key>NSCameraUsageDescription</key>
    <string>We need to access the camera to scan QR codes</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>This is required to communicate with the gate, to open it for you.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We do not access your location. Only for accessing bluetooth range estimations.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Always allow me to use your location information in front of gate.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Allow me to use your location information in front of gate.!!!</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
        <string>fetch</string>
        <string>location</string>
        <string>processing</string>
    </array>
</dict>
</plist>
